
.navbar {
    display: flex; 
    width: 100%;
    overflow: hidden;
    position: relative; 
    background-color: white;
    max-height: 50px;
    border: solid; 
    border-width: 5px; 
    border-color: lavenderblush;
    margin-left: -5px;
    justify-content: space-around;
}

.navbar-text {
    text-align: center; 
    font-size: 15px;
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    border: solid; 
    border-color: lavenderblush; 
    position: fixed;  
    overflow: hidden; 
    justify-content: space-around;
    top: 0; 
    width: 100vw;
    font-family: 'Arapey', serif;
    font-size: 20px;
    z-index: 1;
    /* margin-left: -9.5px;  */
    margin-bottom: 5px;
    } */

    .navbar-buttons {
        background-color: none;
    }

.navbar a{
    text-decoration: none; 
    color: black;
}

.search-input {
    background-color: lavenderblush
}

.body {
    display: flex; 
    flex-direction: column;
}





body {
    display: flex;
    flex-direction: column;
    background-color:pink;
    flex: 1;
}

/* alter margin top for tablet and desktop */
.article-div {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    background-color: lavender;
    margin: 2% 8% 2% 8%;
    border: solid; 
    border-color: lavenderblush; 
    border-width: 5px;
    flex: 4;
    flex-wrap: wrap; 


}

.article-headline {
    font-size: 17.5px;
    text-align: center; 
}

.article-author {
    color: black; 
    font-size: 10px;
    text-align: center;
    font-style: italic;
}

.article-date {
    color: ; 
    font-size: 10px; 
    text-align: center;
}


/* take out all image classes from mobile */
.article-image {
    width: 400px; 
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    }

.article-content { 
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12.5px;
    }

.article-link { 
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 10px;
}

@media (min-width: 768px) {

    .navbar-text {
        text-align: center; 
        font-size: 15px;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: white;
        border: solid; 
        border-color: lavenderblush; 
        position: fixed; 
        overflow: hidden; 
        justify-content: space-around;
        top: 0;
        width: 100%;
        font-family: 'Arapey', serif;
        font-size: 20px;
        z-index: 1;
        margin-left: -9.5px; 
        }
    
        .navbar-buttons {
            background-color: none;
        }
    
    .navbar a{
        text-decoration: none; 
        color: black;
    }
    
    .search-input {
        background-color: lavenderblush
    }
    
    .body {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }
    
    
    
    
    
    body {
        display: flex;
        flex-direction: column;
        background-color:pink;
        flex: 1;
    }
    
    /* alter margin top for tablet and desktop */
    .article-div {
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        background-color: lavender;
        margin: none;
        border: solid; 
        border-color: lavenderblush; 
        border-width: 5px;
        flex: 2;
        flex-wrap: wrap; 
        max-width: 25%;
        max-height: 25%;
    }
    
    .article-headline {
        font-size: 30px;
        text-align: center; 
    }
    
    .article-author {
        color: black; 
        font-size: 20px;
        text-align: center;
    }
    
    .article-date {
        color: ; 
        font-size: 15px; 
        text-align: center;
    }
    
    
    /* take out all image classes from mobile */
    .article-image {
        width: 200px; 
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        }
    
    .article-content { 
        margin-left: 10%;
        margin-right: 10%;
        }
    
    .article-link { 
        text-align: center;
        text-decoration: none;
        color: black;
    }

}